package com.project.demo.service;

import org.springframework.stereotype.Service;

import com.project.demo.dto.CustomerVODTO;
import com.project.demo.entity.CustomerVO;

@Service
public interface CustomerService {
	CustomerVO savecustomer(CustomerVODTO dto);
	CustomerVO getCustomer(Long id);

}
